<html>
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
      body {
        margin: 0;
      }
      .field {
        display: block;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <form id="payment-form">
      <div class="form-row">
        <div id="card-element" class="field">
        </div>
        <div id="card-errors" role="alert"></div>
      </div>
    </form>

    <script>
      function saveTokenAndChargeCard(token, donationAmount, metadata) {
        var url = '<%= pay_url(@processor) %>';
        var data = JSON.stringify({
          token: token.id,
          metadata: metadata,
          amount: donationAmount
        });

        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.setRequestHeader('Content-Type', 'application/json');

        request.onload = function() {
          if (request.status === 200) {
            console.log(request.responseText);
            data = {
              action: "donationProcessed",
              response: request.responseText
            };
            parent.postMessage(data, "*");
          } else {
            console.log('error');
          }
        };

        request.onerror = function() {
          console.log('error 2');
        }

        request.send(data);
      }

      var stripe = Stripe('<%= @stripe_publishable_key %>');
      var elements = stripe.elements();
      var style = {
        base: {
          color: '#495057',
          lineHeight: '1.25',
          fontSmoothing: 'antialiased',
          fontSize: '1rem',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };

      var card = elements.create('card', {style: style});

      card.mount('#card-element');

      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });

      function submitCard(donationAmount, metadata) {
        stripe.createToken(card).then(function(result) {
          if (result.error) {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
            saveTokenAndChargeCard(result.token, donationAmount, metadata);
          }
        });
      }

      window.addEventListener("message", function(event) {
        var data = event.data;
        if (data.action === "submit") {
          submitCard(data.donationAmount, data.metadata);
        }
      }, false);
    </script>
  </body>
</html>
